@using Application.ImageTools
@using Application.Convertor
@model Domain.ViewModels.Home.HomeViewModel
@{
    ViewData["Title"] = "صفحه اصلی";
    ViewData["Details"] = "پست های اخیر همین الان داستان خودت رو بنویس بنویسیم تولید محتوا ";
}

<!-- Loader -->
<!-- <div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div> -->
<!-- Loader -->
<!-- Hero Start -->
<section class="home-slider position-relative mt-5">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @if (Model.GalleryCollection == null)
            {
                <div class="galleryImages carousel-item mt-4 active" data-bs-interval="3000">
                    <div class="bg-half-170" style="background: url('images/blog/bg1.jpg') center center;">
                        <div class="bg-overlay"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="title-heading text-center">
                                        <h2 class="Gallery-text text-white title-dark mb-3">سفر آخر هفته </h2>
                                        <ul class="list-unstyled">
                                            <li class="list-inline-item small user text-white-50 me-2"><i class="uil uil-user text-white title-dark"></i> کالوین لورس</li>
                                            <li class="list-inline-item small date text-white-50"><i class="uil uil-calendar-alt text-white title-dark"></i> اردیبهشت 1400</li>
                                        </ul>
                                        <p class="Gallery-text para-desc mx-auto text-white-50 mb-0">کار با لنـدریــک را شروع کنید که می تواند همه چیزهایی را که برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                                        <div class="mt-4">
                                            <a href="javascript:void(0)" class="Gallery-text btn btn-primary">ادامه مطلب </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end slide-->
                </div>

                <div class="carousel-item mt-4" data-bs-interval="3000">
                    <div class="bg-half-170" style="background: url('images/blog/bg2.jpg') center center;">
                        <div class="bg-overlay"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="title-heading text-center">
                                        <h2 class="Gallery-text text-white title-dark mb-3">ملاقات کسب و کار</h2>
                                        <ul class="list-unstyled">
                                            <li class="list-inline-item small user text-white-50 me-2"><i class="uil uil-user text-white title-dark"></i> کالوین لورس</li>
                                            <li class="list-inline-item small date text-white-50"><i class="uil uil-calendar-alt text-white title-dark"></i> اردیبهشت 1400</li>
                                        </ul>
                                        <p class="Gallery-text para-desc mx-auto text-white-50 mb-0">کار با لنـدریــک را شروع کنید که می تواند همه چیزهایی را که برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                                        <div class="mt-4">
                                            <a href="javascript:void(0)" class="Gallery-text btn btn-primary">ادامه مطلب </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end slide-->
                </div>

                <div class="carousel-item mt-4" data-bs-interval="3000">
                    <div class="bg-half-170" style="background: url('images/blog/bg3.jpg') center center;">
                        <div class="bg-overlay"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">
                                    <div class="title-heading text-center">
                                        <h2 class="Gallery-text text-white title-dark mb-3">خوشمزه و ارگانیک</h2>
                                        <ul class="list-unstyled">
                                            <li class="list-inline-item small user text-white-50 me-2"><i class="uil uil-user text-white title-dark"></i> کالوین لورس</li>
                                            <li class="list-inline-item small date text-white-50"><i class="uil uil-calendar-alt text-white title-dark"></i> اردیبهشت 1400</li>
                                        </ul>
                                        <p class="Gallery-text para-desc mx-auto text-white-50 mb-0">کار با لنـدریــک را شروع کنید که می تواند همه چیزهایی را که برای ایجاد آگاهی ، ایجاد ترافیک ، اتصال به آن نیاز دارید فراهم کند.</p>
                                        <div class="mt-4">
                                            <a href="javascript:void(0)" class="Gallery-text btn btn-primary">ادامه مطلب </a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div>
                    </div><!--end slide-->
                </div>
            }
            else
            {
                @foreach (var item in Model.GalleryCollection)
                {
                    <div @* style="height: 355px !important" *@ class="GalleryResponse galleryImages carousel-item mt-4 @(Model.GalleryCollection.First() == item ? "active" : "")" data-bs-interval="3000">
                        <div alt="BannerContent" class="bg-half-170 banner" style="background: url('@PathExtensions.ContentBannerOrgin@item.BannerName') center center;">
                            <div class="bg-overlay"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class=" col-12">
                                        <div style="margin-top: -55px !important" class="title-heading text-center">
                                            <h2 class="Gallery-text text-white title-dark mb-3">
                                                @if (item.Title.Length > 28)
                                                {
                                                    item.Title = item.Title.Substring(0, 28) + "...";
                                                    @item.Title
                                                    ;

                                                }
                                                else
                                                {
                                                    @item.Title

                                                }
                                            </h2>
                                            <ul class="Gallery-text list-unstyled d-none d-md-block">
                                                <li class="list-inline-item small user text-white-50 me-2"><i class="uil uil-user text-white title-dark"></i>@item.UserName</li>
                                                <li class="list-inline-item small date text-white-50"><i class="uil uil-calendar-alt text-white title-dark"></i>@ConvertDateToShamsi.ConvertDateToSh(item.CreateDate)</li>
                                            </ul>
                                            <p class="Gallery-text para-desc mx-auto text-white-50 mb-0">
                                                @if (item.SubTitle.Length > 145)
                                                {
                                                    item.SubTitle = item.SubTitle.Substring(0, 145) + "...";
                                                    @item.SubTitle
                                                    ;
                                                }
                                                else
                                                {
                                                    @item.SubTitle
                                                }
                                            </p>
                                            <div class="mt-4">
                                                <a asp-controller="Content" asp-action="ContentDetails" asp-route-id="@item.id" class="btn btn-primary">ادامه مطلب </a>
                                            </div>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end slide-->
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">قبلی </span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">بعدی </span>
        </a>
    </div>
</section><!--end section-->
<!-- Hero End -->

<section class="section">
    <div class="container mb-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="features-absolute blog-search">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="text-center subcribe-form">

                                <partial name="_SearchIndex" model="Model.FilterContentViewModel" />

                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end div-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-4 mt-lg-0">
        <div class="row align-items-center mb-4 pb-2">
            <div class="col-md-8">
                <div class="section-title text-center text-md-start">
                    <h4 class="mb-4">محتوا های محبوب</h4>
                    <p class="text-muted mb-0 para-desc"><span class="text-primary fw-bold"></span>محبوب ترین پست ها را بخوانید!</p>
                </div>
            </div><!--end col-->

            <div class="col-md-4 mt-4 mt-sm-0">
                <div class="text-center text-md-end">
                    <a asp-controller="Content" asp-action="Index" class="btn btn-soft-primary">نمایش بیشتر <i data-feather="arrow-left" class="fea icon-sm"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            @foreach (var item in Model.MostViewContent)
            {
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog rounded border-0 shadow overflow-hidden">
                        <div class="position-relative">
                            <img alt="Banners" src="@PathExtensions.ContentBannerOrgin@item.BannerName" class="BannerContent card-img-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h5>
                                <a href="javascript:void(0)" class="card-title title text-dark">
                                    @if (item.Title.Length >= 30)
                                    {
                                        item.Title = item.Title.Substring(0, 28) + "...";
                                        @item.Title
                                        ;
                                    }
                                    else
                                    {
                                        @item.Title
                                    }
                                </a>
                            </h5>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item bi bi-eye me-2 mb-0 "><span class="ms-1">@item.ViewCount</span></li>
                                </ul>
                                <a onclick="load()" asp-controller="Content" asp-action="ContentDetails" asp-route-id="@item.id" class="text-muted readmore">ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i></a>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="uil uil-user"></i>@item.UserName</small>
                            <small class="text-light date"><i class="uil uil-calendar-alt"></i>@ConvertDateToShamsi.ConvertDateToSh(item.CreateDate)</small>
                        </div>
                    </div>
                </div>

                <!--end col-->
            }


        </div><!--end row-->
    </div><!--end container-->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center mb-4 pb-2">
            <div class="col-md-8">
                <div class="section-title text-center text-md-start">
                    <h4 class="mb-4">پست های اخیر</h4>
                    <p class="text-muted mb-0 para-desc"><span class="text-primary fw-bold"></span>آخرین پست هایی که منتشر شده است!</p>
                </div>
            </div><!--end col-->

            <div class="col-md-4 mt-4 mt-sm-0">
                <div class="text-center text-md-end">
                    <a asp-controller="Content" asp-action="Index" class="btn btn-soft-primary">نمایش بیشتر <i data-feather="arrow-left" class="fea icon-sm"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            @foreach (var item in Model.LastContent)
            {
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog rounded border-0 shadow overflow-hidden">
                        <div class="position-relative">
                            <img alt="Banners" src="@PathExtensions.ContentBannerOrgin@item.BannerName" class="BannerContent card-img-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h5>
                                <a href="javascript:void(0)" class="card-title title text-dark">
                                    @if (item.Title.Length >= 30)
                                    {
                                        item.Title = item.Title.Substring(0, 28) + "...";
                                        @item.Title
                                        ;
                                    }
                                    else
                                    {
                                        @item.Title
                                    }
                                </a>
                            </h5>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item bi bi-eye me-2 mb-0 "><span class="ms-1">@item.ViewCount</span></li>
                                </ul>
                                <a onclick="load()" asp-controller="Content" asp-action="ContentDetails" asp-route-id="@item.id" class="text-muted readmore">ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i></a>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="uil uil-user"></i>@item.UserName</small>
                            <small class="text-light date"><i class="uil uil-calendar-alt"></i>@ConvertDateToShamsi.ConvertDateToSh(item.CreateDate)</small>
                        </div>
                    </div>
                </div>

                <!--end col-->
            }
        </div><!--end row-->
    </div><!--end container-->
    <!-- Cta start -->
    <div class="container-fluid mt-100 mt-60">
        <div class="rounded-md shadow-md py-5 position-relative" style="background: url('images/3.jpg') center center;">
            <div class="bg-overlay rounded-md"></div>
            <div class="container py-5">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="section-title text-center">
                            <h2 class="fw-bold text-white title-dark mb-4 pb-2"> همین الان داستان خودت رو بنویس <br>  </h2>
                            <a  asp-controller="Content" asp-action="CreateContent" class="btn btn-primary">  شروع کردن <i data-feather="arrow-left" class="fea icon-sm"></i></a>
                          
                           
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </div><!--end slide-->
    </div><!--end container-->
    <!-- Cta End -->

    <div class="container mt-100 mt-60">
        <div class="row align-items-center mb-4 pb-2">
            <div class="col-md-8">
                <div class="section-title text-center text-md-start">
                    <h4 class="mb-4">همه اخبار یا پست وبلاگ</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            @foreach (var item in Model.AllContent)
            {
                <div class="col-lg-4 col-md-6 mt-4 pt-2">
                    <div class="card blog rounded border-0 shadow overflow-hidden">
                        <div class="position-relative">
                            <img alt="Banners" src="@PathExtensions.ContentBannerOrgin@item.BannerName" class="BannerContent card-img-top" alt="...">
                            <div class="overlay rounded-top bg-dark"></div>
                        </div>
                        <div class="card-body content">
                            <h5>
                                <a href="javascript:void(0)" class="card-title title text-dark">
                                    @if (item.Title.Length >= 30)
                                    {
                                        item.Title = item.Title.Substring(0, 28) + "...";
                                        @item.Title
                                        ;
                                    }
                                    else
                                    {
                                        @item.Title
                                    }
                                </a>
                            </h5>
                            <div class="post-meta d-flex justify-content-between mt-3">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item bi bi-eye me-2 mb-0 "><span class="ms-1">@item.ViewCount</span></li>
                                </ul>
                                <a onclick="load()" asp-controller="Content" asp-action="ContentDetails" asp-route-id="@item.id" class="text-muted readmore">ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i></a>
                            </div>
                        </div>
                        <div class="author">
                            <small class="text-light user d-block"><i class="uil uil-user"></i>@item.UserName</small>
                            <small class="text-light date"><i class="uil uil-calendar-alt"></i>@ConvertDateToShamsi.ConvertDateToSh(item.CreateDate)</small>
                        </div>
                    </div>
                </div>

                <!--end col-->
            }


            <div class="col-12 mt-4 pt-2">
                <div class="text-center">
                    <a asp-controller="Content" asp-action="Index" class="btn btn-primary">نمایش بیشتر <i data-feather="arrow-left" class="fea icon-sm"></i></a>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Back to top -->
<a href="#" onclick="topFunction()" id="back-to-top" class="btn btn-icon btn-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->
@section FooterSection{
    <script>load()</script>

}