@using Application.ImageTools
@using Application.Convertor
@model ICollection<Domain.ViewModels.Content.ContentViewModel>


@if (Model != null)
{
@foreach (var item in Model)
{
    <div class="col-md-6 mt-4 pt-2">
    <div class="card blog rounded border-0 shadow">
        <div class="position-relative">
                    <img src="@PathExtensions.ContentBannerOrgin@item.BannerName" class="BannerContent card-img-top rounded-top" alt="...">
            <div class="overlay rounded-top bg-dark"></div>
        </div>
        <div class="card-body content">
            <h5><a href="javascript:void(0)" class="card-title title text-dark">@item.Title</a></h5>
            <div class="post-meta d-flex justify-content-between mt-3">
                <ul class="list-unstyled mb-0">
                    <li class="list-inline-item bi bi-eye me-2 mb-0 "><span class="ms-1">@item.ViewCount</span></li>
                </ul>
                <a asp-controller="Content" asp-action="ContentDetails" asp-route-id="@item.id" class="text-muted readmore">ادامه مطلب <i class="uil uil-angle-left-b align-middle"></i></a>
            </div>
        </div>
        <div class="author">
            <small class="text-light user d-block"><i class="uil uil-user"></i>@item.UserName</small>
            <small class="text-light date"><i class="uil uil-calendar-alt"></i> @ConvertDateToShamsi.ConvertDateToSh(@item.CreateDate)</small>
        </div>
    </div>
</div><!--end col-->

}

}
else
{
    <p class="text-muted mb-0">کاربر محتوایی منتشر نکرده است</p>
}