@using Application.ImageTools
@using Microsoft.VisualStudio.Web.CodeGenerators.Mvc.Templates.BlazorIdentity.Pages.Manage
@model Domain.ViewModels.User.UserPanelViewModel
@{
    ViewData["Title"] = "پنل کابری";
    int CurrentUserId = 0;
    if (User.Identity.IsAuthenticated)
    {

        CurrentUserId = (int)TempData["CurrentUseId"];
    }

}
<section class="bg-profile d-table w-100 bg-primary" style="background: url('images/account/bg.png') center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card public-profile border-0 rounded shadow" style="z-index: 1;">
                    <div class="card-body">
                        <div class="row align-items-center">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (CurrentUserId == Model.UserViewModel.id)
                            {
                                <a asp-controller="Account" asp-action="EditUserInfo">
                                    <i class="d-sm-none bi bi-pen"></i>
                                </a>
                            }
                        }
                            @if (Model.UserViewModel.picProfile != null)
                            {
                                <div class="col-lg-2 col-md-3 text-md-start text-center">
                                    <img src="@PathExtensions.UserAvatarOrgin@Model.UserViewModel.picProfile" class="UserPanelPicture avatar avatar-large rounded-circle shadow d-block mx-auto" alt="">
                                </div>

                                <!--end col-->
                            }
                            else
                            {
                                <div class="col-lg-2 col-md-3 text-md-start text-center">
                                    <img src="images/blog/user-Details.png" class="UserPanelPicture avatar avatar-large img-fluid rounded-circle shadow d-block mx-auto" alt="">
                                </div>

                                <!--end col-->
                            }

                            <div class="col-lg-10 col-md-9">
                                <div class="row align-items-end">
                                    <div class="col-md-7 text-md-start text-center mt-4 mt-sm-0">
                                        <h3 class="title mb-0 h5">@Model.UserViewModel.UserName</h3>
                                        <small class="text-muted h6 me-2">@Model.UserViewModel.Email.Substring(0, @Model.UserViewModel.Email.IndexOf('@'))</small>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div><!--end col-->
                        </div><!--end row-->
                    </div>
                </div>
            </div><!--end col-->
        </div><!--end row-->
    </div><!--ed container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Profile Start -->
<section class="section mt-60">
    <div class="container mt-lg-3">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 d-lg-block d-none">
                <div class="sidebar sticky-bar p-4 rounded shadow">


                    <div class="widget mt-4">
                        <ul class="list-unstyled sidebar-nav mb-0" id="navmenu-nav">
                            <li class="navbar-item account-menu px-0 active">
                                <a asp-controller="Account" asp-action="UserPanel" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                    <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                                    <h6 class="mb-0 ms-2">پروفایل </h6>
                                </a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (CurrentUserId == Model.UserViewModel.id)
                                {
                                    <li class="navbar-item account-menu px-0 mt-2 ">
                                        <a asp-controller="Follow" asp-action="Index" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-users-alt"></i></span>
                                            <h6 class="mb-0 ms-2">کسانی را که دنبال می کنید </h6>
                                        </a>
                                    </li>

                                    <li class="navbar-item account-menu px-0 mt-2 ">
                                        <a asp-controller="Follow" asp-action="Followers" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-file"></i></span>
                                            <h6 class="mb-0 ms-2">کسانی که شمارا دنبال می کنند</h6>
                                        </a>
                                    </li>
                                    <li class="navbar-item account-menu px-0 mt-2 ">
                                        <a asp-controller="Bookmark" asp-action="Index" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="bi bi-bookmark"></i></span>
                                            <h6 class="mb-0 ms-2"> بوکمارک ها </h6>
                                        </a>
                                    </li>
                                    <li class="navbar-item account-menu px-0 mt-2 ">
                                        <a asp-controller="Account" asp-action="EditUserInfo" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="bi bi-pen"></i></span>
                                            <h6 class="mb-0 ms-2"> ویرایش حساب</h6>
                                        </a>
                                    </li>
                                    <li class="navbar-item account-menu px-0 mt-2">
                                        <a asp-controller="Account" asp-action="Logout" class="navbar-link d-flex rounded shadow align-items-center py-2 px-4">
                                            <span class="h4 mb-0"><i class="uil uil-dashboard"></i></span>
                                            <h6 class="mb-0 ms-2">خروج </h6>
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>

                </div>
            </div><!--end col-->

            <div class="col-lg-8 col-12">
                <div class="border-bottom pb-4">
                    <h5>@Model.UserViewModel.UserName</h5>
                    @if (Model.UserViewModel.Bio != null)
                    {
                        <p class="text-muted mb-0">@Model.UserViewModel.Bio</p>
                    }
                    else
                    {
                        <p class="text-muted mb-0">کاربر هنوز بیوگرافی خودرا وارد نکرده است!</p>

                    }
                </div>

                <h5 class="mt-4 mb-0">پست ها و اخبار :</h5>
                <div class="row">
                    @await Component.InvokeAsync("ContentsUserPanel", Model.UserViewModel.id)
                    <div class="col-12 mt-4 pt-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Content" asp-action="MyContents" class="btn btn-primary">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                        }
                        else
                        {
                            <a asp-controller="Content" asp-action="ContentUser" asp-route-UserId="@Model.UserViewModel.id" class="btn btn-primary">نمایش بیشتر <i class="uil uil-angle-left-b align-middle"></i></a>
                        }
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
</section><!--end section-->
<!-- Profile End -->