@model Domain.ViewModels.ContactUs.SendEmailViewModel
@{
    ViewData["Title"] = "ارتباطات";

}
<div class="container-xxl flex-grow-1 container-p-y">
    <partial name="_SendEmailForm" model="Model.EmailViewModel"></partial>

    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"> پیام های دریافتی </h4>

        <div class="row mb-4">
            @foreach (var item in Model.ContactUsViewModels)
            {
                <!--  Add New Credit Card -->
                <div class="col-3 mb-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <i class="mb-3 ti-lg"></i>
                            <p>@item.FullName</p>
                            <h5> @item.Title</h5>
                            <p>@item.Email</p>
                            <p>@item.Text</p>
                        </div>
                        <a asp-controller="Contact" asp-action="Delet" asp-route-id="@item.id" class="btn btn-outline-danger mt-2 col-10 mx-auto ">حذف</a>
                        <button class="btn btn-outline-success mt-2 col-10 mx-auto mb-2">پاسخ</button>
                    </div>
                </div>
                <!--/  Add New Credit Card -->
            }
            <!--/  Payment methods -->
        </div>


    </div>
    <!-- / Content -->
</div>
